n8n-workflows/Daily-Workflow-Backups-to-Git-Repo.json
{
  "name": "Daily Workflow Backups to Git Repo",
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9cc00caf-88c0-4d2d-88c9-714490495f32",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "id": "98a25c88-dbcb-4aa8-80be-236dabd6e0fc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        704,
        96
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "clone",
        "repositoryPath": "={{ $json.config.localRepoPath }}",
        "sourceRepository": "={{ $json.config.repository }}"
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1504,
        96
      ],
      "id": "83cd1ef5-7505-40e7-9879-b668908ac5ac",
      "name": "Clone Backup Repo",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4c4b6fb-5d9d-44a7-bdfd-5cd4e3ebb8aa",
              "name": "config.localRepoPath",
              "value": "=/tmp/workflow-{{ $workflow.id }}-{{ DateTime.now().format(\"yyyyLLddhhmm\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        96
      ],
      "id": "e48906a8-3640-44f4-93e7-da0995dfcfd6",
      "name": "Enrich Config (generated)"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "6e28b1ad-5eea-4c92-98ac-2f3b12da47ad",
      "name": "Get Workflows1",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1856,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "encoding": "utf8",
          "fileName": "={{ (()=>{\n\nconst slugify = (text) => {\n  return text.toString().toLowerCase()\n    .replace(/\\s+/g, '-')           // Replace spaces with -\n    .replace(/[^\\w\\-]+/g, '')       // Remove all non-word chars\n    .replace(/\\-\\-+/g, '-')         // Replace multiple - with single -\n    .replace(/^-+/, '')             // Trim - from start of text\n    .replace(/-+$/, '');            // Trim - from end of text\n}\n\nconst fileName = `${$json.name}_${$json.id}`\n\nreturn `${slugify(fileName)}.json`\n})() }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2032,
        320
      ],
      "id": "9d8261b1-7f5b-4146-a237-c7cef51c069b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('(Re-)Create backup folder').item.json.backupFolderPath }}/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2208,
        320
      ],
      "id": "a13f4219-b044-420e-a89a-aef4d17c48e5",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Enrich Config (generated)').item.json.config.localRepoPath }}",
        "key": "user.name",
        "value": "={{ $('Enrich Config (generated)').item.json.config.git.name }}",
        "options": {
          "mode": "set"
        }
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1680,
        96
      ],
      "id": "bccc98c0-3e34-415f-8e90-80496041ae1b",
      "name": "Git - User Name"
    },
    {
      "parameters": {
        "operation": "commit",
        "repositoryPath": "={{ $('Continue - Commit').item.json.config.localRepoPath }}",
        "message": "=Backup {{ DateTime.now().toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1856,
        544
      ],
      "id": "2fe5e36e-ea48-4733-b69f-c1b2ee2478b2",
      "name": "Git - Commit"
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "={{ $('Continue - Commit').item.json.config.localRepoPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2032,
        544
      ],
      "id": "2f21288a-3770-47b2-966d-54883920487c",
      "name": "Git - Push"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs = require('fs')\n\nconst localRepoPath = $json.config.localRepoPath\nfs.rmSync(localRepoPath, { recursive: true, force: true });\nconsole.log(`Deleted folder: ${localRepoPath}`);\n\nreturn { success: true }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        784
      ],
      "id": "1ce21692-acc4-45ae-ba35-f9ff3622a660",
      "name": "Clean up"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        320
      ],
      "id": "08e305f7-f442-4279-8a9c-dcdd33329346",
      "name": "Continue - Backup Workflows"
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Enrich Config (generated)').item.json.config.localRepoPath }}",
        "key": "user.email",
        "value": "={{ $('Enrich Config (generated)').item.json.config.git.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1856,
        96
      ],
      "id": "1c1dc6fa-9fa9-41a1-8cf7-f04c84cd2911",
      "name": "Git - User Email"
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "={{ $json.config.localRepoPath }}",
        "pathsToAdd": "={{ $json.config.subPath }}"
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1680,
        544
      ],
      "id": "03f8a4fc-1fa1-4e18-96bc-6570409dd914",
      "name": "Git"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        544
      ],
      "id": "66803122-980a-4f06-bf59-a227f83bda0b",
      "name": "Continue - Commit"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1504,
        784
      ],
      "id": "5f85a018-9d7b-474b-942c-1153de12d55d",
      "name": "Continue - Clean up"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fileName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2384,
        320
      ],
      "id": "09cc5483-0dc5-420f-a132-a33add0164da",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "314eda1c-cc62-4430-8eeb-1aa5f0f3e8c0",
              "name": "config.repository",
              "value": "https://github.com/your-username/n8n-workflows-backup.git",
              "type": "string"
            },
            {
              "id": "45db00c4-a336-4c3b-bfbf-af59892a33e7",
              "name": "config.subPath",
              "value": "n8n-workflows",
              "type": "string"
            },
            {
              "id": "e0c3c8ba-f77b-47cb-8925-f25ac19389bd",
              "name": "config.deleteOldWorkflows",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "0af092ec-05a6-436e-b3b0-0a3aa060e633",
              "name": "config.git.name",
              "value": "n8n Workflow Backup",
              "type": "string"
            },
            {
              "id": "836f121f-98aa-4313-99ce-e94a1e35f5dd",
              "name": "config.git.email",
              "value": "n8n-workflow-backup@mekanics.ch",
              "type": "string"
            },
            {
              "id": "72bc3187-bdab-4091-ae5a-c4938a6533a1",
              "name": "job",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "ca00cf4f-f415-4912-9f61-6b7fd20da5e9",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        928,
        96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst folderName = $json.config.subPath ?? 'n8n-workflows';\nconst folderPath = path.join($json.config.localRepoPath, folderName);\n\nif ($json.config.deleteOldWorkflows && fs.existsSync(folderPath)) { \n  fs.rmSync(folderPath, { recursive: true, force: true });\n  console.log(`Deleted folder: ${folderPath}`);\n}\n\nif (!fs.existsSync(folderPath)) {\n  fs.mkdirSync(folderPath, { recursive: true });\n  console.log(`Created folder: ${folderPath}`);\n} else {\n  console.log(`Folder already exists: ${folderPath}`);\n}\n\nreturn { \n  ...$json,\n  backupFolderPath: folderPath \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        320
      ],
      "id": "f8686350-58db-4c5c-8b90-a6bc9a2a8beb",
      "name": "(Re-)Create backup folder"
    },
    {
      "parameters": {
        "content": "## 🧠 Daily Workflow Backups to Git Repo\n\nThis n8n workflow automatically backs up all your existing workflows to a Git repository on a scheduled basis.\nIt ensures version control, safe storage, and easy rollback of your n8n configurations.\n\n### ⚠️ Requirements\n\nThis workflow requires the `fs` (filesystem) module to be enabled in n8n. Set the following environment variable:\n\n```bash\nexport NODE_FUNCTION_ALLOW_BUILTIN=fs\n```\n\nFor more information, see: https://docs.n8n.io/hosting/configuration/configuration-examples/modules-in-code-node/\n\n### ⚙️ How It Works\n1. Trigger\n   - Runs on a schedule (daily or as configured in the Schedule Trigger node).\n2. Configuration\n   - Defines key backup parameters:\n      - Git repository URL\n      - Local temporary path (/tmp/...)\n      - Subfolder name\n      - Option to delete old workflows before backup\n3. Git Setup\n   - Clones the remote repository\n   - Sets Git username and email for commits\n   - Prepares the local folder for storing exported workflows\n4. Backup Process\n   - Fetches all n8n workflows via API\n   - Converts each workflow into a formatted JSON file\n   - Writes the files to the designated backup folder\n5. Commit & Push\n   - Adds all workflow files to Git\n   - Commits changes with a timestamped message\n   - Pushes the updates to the remote repository\n6. Cleanup\n   - Removes the temporary local repository folder after a successful push\n\n### 🔗 Links\n- GitHub folder for backups:  [mekanics/n8n-workflows-backup](https://github.com/mekanics/n8n-workflows-backup)\n\n### 📇 Contact\n- [Github](https://github.com/mekanics)\n- [LinkedIn](https://www.linkedin.com/in/jolyalexandre/)\n",
        "height": 1128,
        "width": 656
      },
      "id": "cb1aeb02-5e37-4615-bb70-d2c8629bad01",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure Git",
        "height": 220,
        "width": 1180,
        "color": 2
      },
      "id": "e431786d-f388-46d1-908a-69839a641fa2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Backup the workflows",
        "height": 220,
        "width": 1180,
        "color": 3
      },
      "id": "9d422fa2-885e-489f-a64f-6a5ca85dd48b",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit & Push",
        "height": 220,
        "width": 1180,
        "color": 4
      },
      "id": "5382eab7-74cb-4414-8681-2fa27cb29dd8",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        496
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Clean up the local folder",
        "height": 220,
        "width": 1180,
        "color": 5
      },
      "id": "e965ba68-6af4-40bd-84f6-8a84a9c3bfd4",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1408,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure the workflow here",
        "height": 284,
        "width": 172,
        "color": 2
      },
      "id": "06516dea-87c1-424c-88c0-cda04aba95c1",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone Backup Repo": {
      "main": [
        [
          {
            "node": "Git - User Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Config (generated)": {
      "main": [
        [
          {
            "node": "Continue - Backup Workflows",
            "type": "main",
            "index": 1
          },
          {
            "node": "Clone Backup Repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continue - Clean up",
            "type": "main",
            "index": 1
          },
          {
            "node": "Continue - Commit",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Workflows1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - User Name": {
      "main": [
        [
          {
            "node": "Git - User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - Commit": {
      "main": [
        [
          {
            "node": "Git - Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - Push": {
      "main": [
        [
          {
            "node": "Continue - Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Backup Workflows": {
      "main": [
        [
          {
            "node": "(Re-)Create backup folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - User Email": {
      "main": [
        [
          {
            "node": "Continue - Backup Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git": {
      "main": [
        [
          {
            "node": "Git - Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Commit": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Clean up": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Continue - Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Enrich Config (generated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Re-)Create backup folder": {
      "main": [
        [
          {
            "node": "Get Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}