n8n-workflows/Publish-My-Workflows.json
{
  "name": "Publish My Workflows",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "0Xi540BzrXpZrpTj",
    "timeSavedPerExecution": 3
  },
  "versionId": "0d3e30e0-41eb-435b-9c29-5dc3eb46b3ca",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23,
              "triggerAtMinute": 55
            }
          ]
        }
      },
      "id": "037a154d-bd0c-43b4-9b55-766057fbcc40",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        752,
        176
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "clone",
        "repositoryPath": "={{ $json.config.localRepoPath }}",
        "sourceRepository": "={{ $json.config.repository }}"
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1552,
        176
      ],
      "id": "4db06f4a-b984-4fcf-b789-1a26c700b7cd",
      "name": "Clone Backup Repo",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c4c4b6fb-5d9d-44a7-bdfd-5cd4e3ebb8aa",
              "name": "config.localRepoPath",
              "value": "=/tmp/workflow-{{ $workflow.id }}-{{ DateTime.now().format(\"yyyyLLddhhmm\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        176
      ],
      "id": "e6bcd318-b428-4229-bc89-e431c43e875e",
      "name": "Enrich Config (generated)"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "encoding": "utf8",
          "fileName": "={{ (()=>{\n\nconst slugify = (text) => {\n  return text.toString()\n    .replace(/\\s+/g, '-')           // Replace spaces with -\n    .replace(/[^\\w\\-]+/g, '')       // Remove all non-word chars\n    .replace(/\\-\\-+/g, '-')         // Replace multiple - with single -\n    .replace(/^-+/, '')             // Trim - from start of text\n    .replace(/-+$/, '');            // Trim - from end of text\n}\n\nconst fileName = $json.name\n\nreturn `${slugify(fileName)}.json`\n})() }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1552,
        624
      ],
      "id": "2e145402-eec7-473e-a28f-8d68e6a791e4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ $('(Re-)Create workflow folder').item.json.backupFolderPath }}/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1728,
        624
      ],
      "id": "893d637c-d579-4aca-97db-dc61fcde328a",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Enrich Config (generated)').item.json.config.localRepoPath }}",
        "key": "user.name",
        "value": "={{ $('Enrich Config (generated)').item.json.config.git.name }}",
        "options": {
          "mode": "set"
        }
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1728,
        176
      ],
      "id": "863d18ff-8322-44dd-b9b8-7ea3b2d19168",
      "name": "Git - User Name"
    },
    {
      "parameters": {
        "operation": "commit",
        "repositoryPath": "={{ $('Continue - Commit').item.json.config.localRepoPath }}",
        "message": "=Update and publish workflows",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1904,
        848
      ],
      "id": "cb0cbbba-396a-473f-9f7a-bb3f3fdf1856",
      "name": "Git - Commit"
    },
    {
      "parameters": {
        "authentication": "gitPassword",
        "operation": "push",
        "repositoryPath": "={{ $('Continue - Commit').item.json.config.localRepoPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        2080,
        848
      ],
      "id": "de27197c-655b-4368-89fe-1034a0f3e1d7",
      "name": "Git - Push"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs = require('fs')\n\nconst localRepoPath = $json.config.localRepoPath\nfs.rmSync(localRepoPath, { recursive: true, force: true });\nconsole.log(`Deleted folder: ${localRepoPath}`);\n\nreturn { success: true }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        1088
      ],
      "id": "dee49773-a8cc-4345-b2e5-38aaa68672b8",
      "name": "Clean up"
    },
    {
      "parameters": {
        "operation": "addConfig",
        "repositoryPath": "={{ $('Enrich Config (generated)').item.json.config.localRepoPath }}",
        "key": "user.email",
        "value": "={{ $('Enrich Config (generated)').item.json.config.git.email }}",
        "options": {}
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1904,
        176
      ],
      "id": "96c5bd97-a746-4eaa-8852-58ba72651449",
      "name": "Git - User Email"
    },
    {
      "parameters": {
        "operation": "add",
        "repositoryPath": "={{ $json.config.localRepoPath }}",
        "pathsToAdd": "={{ $json.config.subPath }}"
      },
      "type": "n8n-nodes-base.git",
      "typeVersion": 1,
      "position": [
        1728,
        848
      ],
      "id": "87cfeb6a-454b-4574-a9f0-3915394e3291",
      "name": "Git"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        848
      ],
      "id": "9afa6f01-c56a-4c79-ae2e-ffd76c4a4bee",
      "name": "Continue - Commit"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        1088
      ],
      "id": "ea8c8e80-042b-404e-92a9-169c9c15d515",
      "name": "Continue - Clean up"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "fileName"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1904,
        624
      ],
      "id": "5a6a72b0-d797-4f09-b5a9-f13a7d744dbc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "314eda1c-cc62-4430-8eeb-1aa5f0f3e8c0",
              "name": "config.repository",
              "value": "https://github.com/your-username/n8n-workflows.git",
              "type": "string"
            },
            {
              "id": "45db00c4-a336-4c3b-bfbf-af59892a33e7",
              "name": "config.subPath",
              "value": "n8n-workflows",
              "type": "string"
            },
            {
              "id": "e0c3c8ba-f77b-47cb-8925-f25ac19389bd",
              "name": "config.deleteOldWorkflows",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "0af092ec-05a6-436e-b3b0-0a3aa060e633",
              "name": "config.git.name",
              "value": "n8n Workflow OSS",
              "type": "string"
            },
            {
              "id": "836f121f-98aa-4313-99ce-e94a1e35f5dd",
              "name": "config.git.email",
              "value": "n8n-workflow-oss@mekanics.ch",
              "type": "string"
            },
            {
              "id": "72bc3187-bdab-4091-ae5a-c4938a6533a1",
              "name": "job",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "deefa601-6c58-476b-94c8-f780ec4ea87f",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        976,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        400
      ],
      "id": "58f2cf89-2661-4222-a070-47355c829895",
      "name": "Continue - Retrieve, Filter, and Clean Workflows"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a125072a-9e63-4185-aaa5-b1b3b71a6a7f",
              "leftValue": "={{ $json.tags.map(tag => tag.name) }}",
              "rightValue": "public",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2080,
        400
      ],
      "id": "a4cd2be5-6839-4393-939e-d9a09fd9e83a",
      "name": "Keep 'public'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5bdbcac6-9f20-4e33-bfb8-cb11b59e84ab",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "a906c40d-c7ef-437c-80f7-e1772cffdaba",
              "name": "settings",
              "value": "={{ $json.settings }}",
              "type": "object"
            },
            {
              "id": "9d34bd87-004e-44fe-b25d-fcfa72297d1b",
              "name": "versionId",
              "value": "={{ $json.versionId }}",
              "type": "string"
            },
            {
              "id": "37f70ad2-c7d9-4bff-9b35-22108a670598",
              "name": "nodes",
              "value": "={{ $json.nodes }}",
              "type": "array"
            },
            {
              "id": "b4b0aa76-05e8-4290-a904-449c4c58a980",
              "name": "connections",
              "value": "={{ $json.connections }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2272,
        400
      ],
      "id": "2c32da07-ddfa-4914-be07-9818487728f1",
      "name": "Clear unnecessary properties"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const anonymize = (text) => text  \n  // replace email domains\n  .replace(/(?<=@)[a-zA-Z0-9.-]+\\\\.[a-zA-Z]{2,}/g, \"example.com\")\n  // replace GitHub usernames\n  .replace(/github\\.com\\/[^/]+\\//g, \"github.com/your-username/\");\n\n // Recursively set properties ending with 'Id' to undefined\n const anonymizeIds = (obj) => {\n  if (typeof obj !== 'object' || obj === null) {\n     return obj; \n  }\n   \n  if (Array.isArray(obj)) {\n     return obj.map(item => anonymizeIds(item)); \n  }\n   \n   const result = {};\n   for (const key in obj) {\n     if (key.endsWith('Id') && typeof obj[key] === 'string') {\n       result[key] = undefined; \n    } else if (typeof obj[key] === 'object') {\n       result[key] = anonymizeIds(obj[key]); \n    } else {\n       result[key] = obj[key]; \n    }\n   }\n   return result;\n };\n\n// Separate sticky notes from other nodes\nconst workflow = $json;\nconst stickyNotes = [];\nconst otherNodes = [];\n\nif (workflow.nodes && Array.isArray(workflow.nodes)) {\n  workflow.nodes.forEach(node => {\n    if (node.type === 'n8n-nodes-base.stickyNote') {\n      stickyNotes.push(node);\n    } else {\n      otherNodes.push(node);\n    }\n  });\n}\n\n// Anonymize only non-sticky-note nodes\nconst anonymizedNodes = otherNodes.map(node => {\n  // Remove credentials property\n  delete node.credentials;\n\n  // Anonymize IDs in parameters\n  if (node.parameters) {\n     node.parameters = anonymizeIds(node.parameters); \n  }\n  \n  const nodeText = JSON.stringify(node);\n  const anonymized = anonymize(nodeText);\n  return JSON.parse(anonymized);\n});\n\n// Combine back: anonymized nodes + original sticky notes\nworkflow.nodes = [...anonymizedNodes, ...stickyNotes];\n\nreturn workflow;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        400
      ],
      "id": "7b5d01e8-8f15-461d-a34a-aba5e32d3e48",
      "name": "Anonymise"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst folderName = $json.config.subPath ?? 'n8n-workflows';\nconst folderPath = path.join($json.config.localRepoPath, folderName);\n\nif ($json.config.deleteOldWorkflows && fs.existsSync(folderPath)) { \n  fs.rmSync(folderPath, { recursive: true, force: true });\n  console.log(`Deleted folder: ${folderPath}`);\n}\n\nif (!fs.existsSync(folderPath)) {\n  fs.mkdirSync(folderPath, { recursive: true });\n  console.log(`Created folder: ${folderPath}`);\n} else {\n  console.log(`Folder already exists: ${folderPath}`);\n}\n\nreturn { \n  ...$json,\n  backupFolderPath: folderPath \n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        400
      ],
      "id": "81db518b-3fce-459e-9664-2eda178065e3",
      "name": "(Re-)Create workflow folder"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "88af3c17-a026-4f87-95fa-e5e940b32134",
      "name": "Get Workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        1904,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure Git",
        "height": 220,
        "width": 1180,
        "color": 2
      },
      "id": "aa367c3d-b48c-4145-af97-629f00b399d6",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve, Filter, and Clean Workflows",
        "height": 220,
        "width": 1180,
        "color": 3
      },
      "id": "6de83534-1417-4f8b-a752-1eb498f8ca65",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit & Push",
        "height": 220,
        "width": 1180,
        "color": 5
      },
      "id": "0e766821-db95-45c9-b87d-1ff33d312b90",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Clean up the local folder",
        "height": 220,
        "width": 1180,
        "color": 6
      },
      "id": "2da8c327-369a-48ac-ab6e-7f7e85ba04d3",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Configure the workflow here",
        "height": 284,
        "width": 172,
        "color": 2
      },
      "id": "7cbdf344-59d9-406b-9700-2500d89069f6",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        944,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Create Files",
        "height": 220,
        "width": 1180,
        "color": 4
      },
      "id": "6790f63b-9c3e-4e7e-b0b8-e56516fe2c1d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1456,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🚀 Publish My Workflows\n\n## 📋 Description\n\nThis workflow automatically backs up and publishes your n8n workflows to GitHub, making them open-source and shareable with the community.\n\n## ⚠️ Requirements\n\nThis workflow requires the `fs` (filesystem) module to be enabled in n8n. Set the following environment variable:\n\n```bash\nexport NODE_FUNCTION_ALLOW_BUILTIN=fs\n```\n\nFor more information, see: https://docs.n8n.io/hosting/configuration/configuration-examples/modules-in-code-node/\n\n## ⚙️ How It Works\n\n1. **Scheduled Execution** - Runs daily at 23:55\n2. **Workflow Retrieval** - Fetches all workflows from your n8n instance\n3. **Filtering** - Only processes workflows tagged with `public`\n4. **Anonymization** - Removes sensitive information (email domains, GitHub usernames)\n5. **Git Sync** - Commits and pushes workflow JSON files to your GitHub repository\n6. **Cleanup** - Removes temporary files after successful upload\n\n## 📦 What Gets Published\n\nEach published workflow includes:\n- Workflow nodes and connections\n- Settings and configuration\n- Version information\n- Workflow name (slugified as filename)\n\n## 🔒 Privacy & Security\n\n- Only workflows explicitly tagged as `public` are published\n- Sensitive data is automatically anonymized before publishing\n- Credentials and API keys are excluded from exports\n\n## 🛠️ Configuration\n\nUpdate the **Config** node to customize:\n- Target GitHub repository URL\n- Git commit author name and email\n- Subfolder path for workflow files\n- Whether to delete old workflows before backing up\n\n## 📬 Contact\n\nFor questions, suggestions, or contributions:\n- **GitHub**: [mekanics](https://github.com/mekanics/n8n-workflows)\n- **Issues**: Report bugs or request features on the GitHub repository\n",
        "height": 1384,
        "width": 656
      },
      "id": "64d31f09-82a3-41d3-88e6-817ead16624d",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clone Backup Repo": {
      "main": [
        [
          {
            "node": "Git - User Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Config (generated)": {
      "main": [
        [
          {
            "node": "Clone Backup Repo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Continue - Clean up",
            "type": "main",
            "index": 1
          },
          {
            "node": "Continue - Commit",
            "type": "main",
            "index": 1
          },
          {
            "node": "Continue - Retrieve, Filter, and Clean Workflows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - User Name": {
      "main": [
        [
          {
            "node": "Git - User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - Commit": {
      "main": [
        [
          {
            "node": "Git - Push",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - Push": {
      "main": [
        [
          {
            "node": "Continue - Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git - User Email": {
      "main": [
        [
          {
            "node": "Continue - Retrieve, Filter, and Clean Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git": {
      "main": [
        [
          {
            "node": "Git - Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Commit": {
      "main": [
        [
          {
            "node": "Git",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Clean up": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Continue - Commit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Enrich Config (generated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue - Retrieve, Filter, and Clean Workflows": {
      "main": [
        [
          {
            "node": "(Re-)Create workflow folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keep 'public'": {
      "main": [
        [
          {
            "node": "Clear unnecessary properties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear unnecessary properties": {
      "main": [
        [
          {
            "node": "Anonymise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anonymise": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Re-)Create workflow folder": {
      "main": [
        [
          {
            "node": "Get Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows": {
      "main": [
        [
          {
            "node": "Keep 'public'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}